<!DOCTYPE html>
<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Teste de Formulário</title>
		</head>
	<body>

		<h1>Passar um parâmetro</h1>
		<br />

		<form action="/teste/salvar" method="post">
			<label>Nome do Bucket</label>
			<input type="text" id="nome" name="nome" placeholder="Nome do Bucket" />
			<br />
			<label>Notícia</label>
			<textarea id="noticia" name="noticia" rows="5" cols="30"></textarea>
			<br />
			<input type="submit" value="Enviar" />
		</form>

	</body>
</html>