<!DOCTYPE html>
<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Teste S3</title>
		</head>
	<body>

		<h1>Teste S3</h1>
		<br />

		<form action="/teste/salvar" method="post">
			<label>Nome do Bucket</label><br>
			<input type="text" id="nome" name="nome" placeholder="Nome do Bucket" />
			<br />
			<label>Texto do Arquivo</label><br>
			<textarea id="texto" name="texto" rows="5" cols="30"></textarea>
			<br />
			Ação    <br>
			<select name = "opt">

				<option selected value = "criarbucket" > Criar Bucket</option>
				<option value = "criararquivo" > Criar Arquivo</option>
				<option value = "deletararquivo" > Deletar Arquivo</option>
				<option value = "deletarbucket" > Deletar Bucket</option>
			
			</select>
			<br><br>
			<input type="submit" value="Enviar" />
		</form>

	</body>
</html>